body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: #333;
}

header {
  background-color: #f2f2f2;
  padding: 100px 0;
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin: 0
}

nav a {
  display: inline-block;
  padding: 10px 20px;
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  background-color: #333;
  color: #fff;
}

h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.btn:hover {
  background-color: #555;
}

.servicos {
  background-color: #f2f2f2;
  padding: 100px 0;
  text-align: center;
}

.servicos li {
  display: inline-block;
  width: 300px;
  margin: 0 20px;
  vertical-align: top;
}

.servicos img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.servicos h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.servicos p {
  font-size: 16px;
}

.clientes {
  background-color: #fff;
  padding: 100px 0;
  text-align: center;
}

.clientes li {
  display: inline-block;
  width: 300px;
  margin: 0 20px;
  vertical-align: top;
}

.clientes img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.clientes h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.clientes p {
  font-size: 16px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}
